@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

*{box-sizing: border-box;
    margin: 0;}
html{
    height: 100%;font-family: 'Baloo 2', cursive;
}
:root{
    --negro-color:#191919;
    --blanco-color:#ffffff;
    --cafeoscuro-color: #572612;
    --cafemasoscuro-color: #301309;
    --amarillo-color: #F9D544;
  }
  header, body, footer{font-family: 'Baloo 2', cursive;}

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }