#box-header{
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    margin-right: 5px;
    margin-bottom: 5px;
    
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.logo{
    display: flex;
    text-align: center;
    margin: 0px 20px;
}
.logo h1{
    font-family:'Dancing Script', cursive;
    color: var(--amarillo-color);
    font-size: 35px;
    text-shadow: 0px 0px 2px black;
}
.menu li{

    list-style: none;
    display: none;
}
.nav-link{
    text-decoration: none;
    color: #301309;  
}
.menu a{
    text-decoration: none;
    color: #301309;
}
.menu li, select{
    border: none;
    font-size: 14px;
}
.menu li input{
border-top: none; border-left: none; border-right: none;
border-bottom: 1px solid var(--cafemasoscuro-color);
width: 120px;

}
.menu li, input:focus{
    border: none;
}
#chk-menu{
    display: none;
}
#chk-menu:checked ~ .item{
    display:flex;
    justify-content:flex-start;
}

.btn-menu{
    font-size: 1rem;
    cursor: pointer;
}

 /*-----------------------medias HEADER-----------------------*/
 @media screen and (min-width:700px){
     
     #box-header{
         grid-template-columns: 30% 70%;
     }
     .menu{
         display: flex;
         align-items: center;
         flex-direction: row;
     }
     .menu li, select{
         border: none;
         font-size: 12px;
     }
     .logo h1{
         font-size: 60px;
         font-family: 'Dancing Script', cursive;
         }
         .btn-menu{
             display: none;
         }
     .menu li{
     width: 90vw;
     display:flex;
     justify-content:center;
     align-items: center;
     }
    }
    @media screen and (min-width:1000px){
        
        .menu{margin-right: 20px;
            display: flex;
            align-items: center;
            flex-direction: row;
            
        }
        .menu li, select{
           
            border: none;
            font-size: 15px;
        }
        .logo h1{
            font-size: 90px;
            text-shadow: 1px 1px 5px black;
            }
        .btn-menu{
                display: none;
            }
        .menu li{
         width: 100vw;
        display:flex;
        justify-content: center;
        align-items: center;
            }
        }
    